__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
lightning_logs/
wandb/

.git/
.gitignore

build/
dist/
*.egg-info/

checkpoints/
external/
*.ckpt
*.pt
*.pth

samples/**
!samples/
!samples/.gitkeep
!samples/README.md

assets/**
!assets/
!assets/pipeline.jpg

output/
*.pkl
*.ply
